@page "/druzyny/{id}"
@inject IDruzynyService DruzynyService
@inject NavigationManager NavigationManager

<PageTitle>@team.IdDruzyny</PageTitle>
<h3>@team.Nazwa [@team.IdDruzyny] - Drużyna @team.Liga
    <AuthorizeView Roles="Administrator">
        <Authorized>
            <button class="btn btn-primary" @onclick="(() => ShowEditTeam(team.IdDruzyny))"><i class="oi oi-pencil"></i></button>
        </Authorized>
    </AuthorizeView>
</h3>

<style>
    .container
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .text
    {
        font-size: 20px;
        padding-left: 20px;
    }
</style>
<body>
    <div class="container">
        <div class="image">
            <img src="@team.Logo">
        </div>
        <div class="text">
            <h5>@team.Opis</h5>
        </div>
    </div>
</body>

<style>
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .text {
        font-size: 20px;
        padding-left: 20px;
    }
</style>
<body>
    <div class="container">
        <div class="image">
            <img src="@team.ZdjecieZawodnikow" width="400px" height="250">
        </div>
        <div class="table">
            <table class="table">
                <thead>
                    <tr>
                        <th>NICK</th>
                        <th>IMIE I NAZWISKO</th>
                        <th>KRAJ</th>
                        <th>ROLA</th>
                    </tr>
                </thead>
                <tbody>
                    
                    @foreach (var member in members)
                    {
                        <tr>
                            <td>@member.Nick</td>
                            <td>@member.ImieINazwisko</td>
                            <td>@member.Kraj</td>
                            <td>@member.Rola</td>
                        </tr>
                    }
                    
                </tbody>
            </table>
        </div>
    </div>
</body>

<br />
<br />

<strong>Turnieje</strong>
<div class="table">
    <table class="table">
        <tr>
            <th>Nazwa</th>
            <th>Rodzaj</th>
            <th>Data</th>
            <th>Zajęte miejsce</th>
            <th>Ostatni wynik</th>
            <th>Nagroda</th>
        </tr>
        @foreach (var i in team.Turniejes)
        {
            <tr>
                <td>@i.NazwaTurnieju</td>
                <td>@i.Rodzaj</td>
                <td>@i.Data</td>
                <td>@i.ZajeteMiejsce</td>
                <td>@i.OstatniWynik</td>
                <td>@i.Nagroda</td>
            </tr>
        }
    </table>
</div>




@code
{
	[Parameter]
	public string? id { get; set; }

	Druzyny team = new Druzyny();
	List<GraczeZawodowi> members = new List<GraczeZawodowi>();

	protected override async Task OnParametersSetAsync()
	{
		team = await DruzynyService.GetSingleTeam(id);
		members = await DruzynyService.GetMembers(id);
    }

    void ShowEditTeam(string IdDruzyny)
    {
        NavigationManager.NavigateTo($"druzyny/edit/{IdDruzyny}");
    }
}