@page "/graczezawodowi/{nick}"
@inject IGraczeZawodowiService GraczeZawodowiService
@inject NavigationManager NavigationManager

<PageTitle>@proplayer.Nick</PageTitle>
					
<h3>@proplayer.ImieINazwisko - "@proplayer.Nick" <button class="btn btn-primary" @onclick="(() => ShowEditProPlayer(proplayer.Nick))"><i class="oi oi-pencil"></i></button></h3>
<br />

<style>
    .container
    {
        display: flex;
        align-items: normal;
        justify-content: start
    }
/*    img
    {
        max-width: 100%
    }
    .image
    {
        width: 120px 
        height: 190px
    }*/
    .text
    {
        font-size: 20px;
        padding-left: 20px;
    }
</style>
<body>
    <div class="container">
        <div class="image">
            <img src="@proplayer.Zdjecie">
        </div>
        <div class="text">
            <table class="table" title="Statystyki">
                <tbody>
                    <tr>
                        <th>Imię i nazwisko</th>
                        <td>@proplayer.ImieINazwisko</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th>Nick</th>
                        <td>@proplayer.Nick</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th>Kraj pochodzenia</th>
                        <td>@proplayer.Kraj</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th>Data urodzenia</th>
                        <td>@proplayer.DataUrodzin</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th>Rezydencja</th>
                        <td>@proplayer.Rezydencja</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th>Drużyna</th>
                        <td>@proplayer.IdDruzyny</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th>Rola</th>
                        <td>@proplayer.Rola</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th>Ulubiona postać</th>
                        <td>@proplayer.UlubionyBohater</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

<div class="table">
    <table class="table">
        <thead>
            <tr>
                <th>Id meczu</th>
                <th>Rezultat</th>
                <th>Zabójstwa/Śmierci/Asysty</th>
                <th>CS</th>
                <th>Zdobyte złoto</th>
                <th>Czas gry</th>
                <th>Zadane obrażenia</th>
                <th>Strona</th>
                <th>Bohater</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var game in proplayer.GryIdMeczus)
                {
                    
                    <tr>
                        <td>@game.IdMeczu</td>
                        <td>@game.Rezultat</td>
                        <td>@game.Zabojstwa/@game.Smierci/@game.Asysty</td>
                        <td>@game.Creep_score</td>
                        <td>@game.ZdobyteZloto</td>
                        <td>@game.CzasGry</td>
                        <td>@game.ZadaneObrazenia</td>
                        <td>@game.Strona</td>
                        <td>@game.BohaterowieNazwa</td>
                    </tr>
                }   
        </tbody>
    </table>
</div>

@code
{
    [Parameter]
    public string? nick { get; set; }

    GraczeZawodowi proplayer = new GraczeZawodowi();

    protected override async Task OnParametersSetAsync()
    {
        proplayer = await GraczeZawodowiService.GetSingleProPlayer(nick);
    }

	void ShowEditProPlayer(string Nick)
	{
		NavigationManager.NavigateTo($"graczezawodowi/edit/{Nick}");
	}
}